<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] </title>
    <!--===== Meta Tag =====-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Runaway - Personal Portfolio HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="business, agency, blog, cv, creative, html, one page, personal, portfolio, resume, responsive, bootstrap, photography, designer, developer">
    <meta name="author" content="root">

    <!--	Css Links
    ==================================================-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css" id="color-change">

    <!-- Favicon
    ==================================================-->
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon.ico">

    <!--	Title
    ==================================================-->
    <title>Runaway - Personal Portfolio HTML Template</title>

</head>
<body>
    <!--	Start Back to top
    =================================================-->
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <!--	End Back to top
    ==================================================-->
    <!-- Wrapper Start
    ==================================================-->
    <div id="page_wrapper">
        <div class="row">
            <!-- Start Nav Menu
            ==============================================-->
            <header class="main_nav dark_nav">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light w-100">
                        <a class="navbar-brand" href="#top"><img class="nav-logo" src="images/logo/15.png" alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link active" href="Home">Home<span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="#about" >About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#skill" >Skill</a></li>
                                <li class="nav-item"><a class="nav-link" href="#services" >Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="#portfolio" >Portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" href="#testimonial" >Testimonial</a></li>
                                <li class="nav-item"><a class="nav-link" href="#blog" >Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact" >Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- End Nav Menu
            ==================================================-->
            </div>
    </div>

            <div>
                @RenderBody()
            </div>



            <!--	Start Footer
            ===================================================-->
            <footer class="p_20 color_lightgray bg_deepblack text-center full_row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="copyright"><p><h4>Made With 💘 At Darshan uni.</h4></p></div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--	End Footer
            ===================================================-->
            <!--	Js Links
            ===================================================-->
            <script src="~/js/jquery.min.js"></script>
            <script src="~/js/popper.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/plugins.js"></script>
            <script src="~/js/custom.js"></script>
            <script>
                $(document).ready(function () {

                    //========================================
                    // Water Effect
                    //========================================

                    $('.banner_water_effect').ripples({
                        resolution: 222,
                        dropRadius: 20,
                        perturbance: 0.02,
                        interactive: true,
                    });
                    //======================================
                    //  Smoothscroll js
                    //======================================

                    $("a").on('click', function (event) {

                        if (this.hash !== "") {
                            event.preventDefault();

                            var hash = this.hash;

                            $('html, body').animate({
                                scrollTop: $(hash).offset().top
                            }, 1000, function () {

                                window.location.hash = hash;
                            });
                        }
                    });
                });
            </script>

            @*<script src="~/js/site.js" asp-append-version="true"></script>*@
            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
